{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}


<form method="POST">
  <div class="mb-3">
      <label for="note_title" class="form-label">Note Title</label>
      <input type="text" class="form-control" id="note_title" name="title" aria-describedby="titleHelp">
      <div id="titleHelp" class="form-text">Keep it crisp and meaningful.</div>
  </div>
  <div class="mb-3">
      <label for="note_desc" class="form-label">Note Description</label>
      <input type="text" class="form-control" id="note_desc" name="desc">
  </div>
  <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="important" name="important">
      <label class="form-check-label" for="important">Is the note IMPORTANT?</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
<br><br>
{% if newDocs %}
<h2>Your Notes</h2>
  {% if q and filter_important %}
  <h4>Showing important results for {{ q }} </h4>
  {% elif filter_important %}
  <h4>Showing important notes</h4>
  {% elif q %}
  <h4>Showing results for {{ q }} </h4>
{% endif %}
<br>
<div id="notes-container" class="row g-3">
  {% for note in newDocs %}
    <div class="col-md-4">
      <div class="card p-3">
        <h4>{{ note.title }}</h4>
        <p>{{ note.desc }}</p>
        {% if note.important %}
          <span class="badge bg-danger">Important</span>
        {% endif %}
        <br>
        <div>
          <a href="/delete/{{ note.id }}" class="btn btn-danger">
              Delete
          </a>
          <a href="/edit/{{ note.id }}" class="btn btn-secondary  ">
              Edit
          </a>
          <a>
            {% if note.created_at %}
            <h6>{{ note.created_at }}</h6>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  {% endfor %}

  {% else %}
    {% if q %}
    <h3>No matching notes found.</h3>
    {% else %}
    <h3>No notes to display!</h3>
    {% endif %}
  {% endif %}
</div>


<div class="d-flex justify-content-center align-items-center gap-3 mt-4">

  {% if page > 1 %}
    <a
      href="/?page={{ page - 1 }}
      {% if q %}&q={{ q }}{% endif %}
      {% if filter_important %}&filter_important=true{% endif %}"
      class="btn btn-outline-primary"
    >
      <- Previous
    </a>
  {% endif %}

  <h5 class="m-0">Page {{ page }}</h5>

  <a
    href="/?page={{ page + 1 }}
    {% if q %}&q={{ q }}{% endif %}
    {% if filter_important %}&filter_important=true{% endif %}"
    class="btn btn-outline-primary"
  >
    Next ->
  </a>

</div>

        

{% endblock %}

