{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}


<form method="POST">
  <div class="mb-3">
      <label for="note_title" class="form-label">Note Title</label>
      <input type="text" class="form-control" id="note_title" name="title" aria-describedby="titleHelp">
      <div id="titleHelp" class="form-text">Keep it crisp and meaningful.</div>
  </div>
  <div class="mb-3">
      <label for="note_desc" class="form-label">Note Description</label>
      <input type="text" class="form-control" id="note_desc" name="desc">
  </div>
  <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="important" name="important">
      <label class="form-check-label" for="important">Is the note IMPORTANT?</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
<br><br>
<h2>Your Notes</h2>
<div id="notes-container" class="row g-3">
  {% for note in newDocs %}
    <div class="col-md-4">
      <div class="card p-3">
        <h4>{{ note.title }}</h4>
        <p>{{ note.desc }}</p>
        {% if note.important %}
          <span class="badge bg-danger">Important</span>
        {% endif %}
        <br>
        <div>
          <a href="/delete/{{ note.id }}" class="btn btn-danger">
              Delete
          </a>
          <a href="/edit/{{ note.id }}" class="btn btn-secondary  ">
              Edit
        </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}